*{
    padding: 0%;
    border: 0;
 }
 body{
    background-image: url(image-hero.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 600px; 
 }

li:hover{
    color: chartreuse;
}
.head nav{
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    padding: 10px;
    gap: 500px;
    margin-top: 30px;
} 
.logo{color: #a9b65f;
    text-transform: uppercase;
    font-size: 34px;
    text-decoration: none;    
}
.nav{ display: flex; 
    gap: 20px; 
    text-transform: capitalize;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 30px;
}
#h1{margin-top: 200px;
    margin-left: 100px;
    width: 300px;
    text-align: center;
    height: 200px;
    font-size: 46px;
    text-transform: uppercase;
    padding: 10px;
    color: aliceblue;
    border: 2px solid;
}
/* menu */
.menu{
    display: flex;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: 10px;
    margin-top: 40px;
}
.rrr{
    position: relative;
}
.img{height: 500px;
    width: 700px;
     margin-left: 200px;
    margin-top: 130px;
}
.lll{position: absolute;
  text-indent: 10px;
     padding: 5px;
    background-color: rgb(161, 187, 212);
width: 350px;
height: 250px;
   margin-top: 370px;
    margin-left: 700px; 
} 
.lll h1
{text-transform: uppercase;
    font-size: 35px; 
    margin-top: 40px;
}
.lll p{
    font-size: 15px;  
}
/* menu bar */
.menu2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 100px;
    align-items: center;
}
.menu2 h1{
    text-transform: uppercase;
    font-size: 40px;
}
.button {text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
}
.button:hover{
    background-color: brown;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.main img{
    margin: 5px;
    flex-basis: 22%;
    flex-grow: 1;     
}
h3 {
    visibility: hidden;    
}
.footer{margin-top: 20px;
    padding: 2px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.cav{list-style: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    gap: 20px;
}
.q1{
    text-transform: uppercase;
    font-size: 15px;
}
.q2 img{width: 25px;
    padding-top: 20px;   
}
 @media screen and ( max-width:600px) {
  .owr{
    width: 80%;
  }  body{
    background-image: url(image-hero.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 250px; 
 }
li:hover{
    color: chartreuse;
}
.head nav{
    display: flex;
    text-transform: capitalize;
    padding: 10px;
    gap: 50px;
    margin-top: 30px;
} 
.logo{color: #a9b65f;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;    
}
.nav{ display: flex; 
    gap: 20px; 
    text-transform: capitalize;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    margin-top: 20px;
}
#h1{margin-top: 150px;
    margin-left: 60px;
    width: 150px;
    text-align: center;
    height: 70px;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    color: aliceblue;
    border: 2px solid;
}
.rrr
{height: 600px; 
}
.img{height: 250px;
    position: relative;
    width: 250px;    
    margin-left: 1px;   
    margin-top: 120px;
} 
.lll{ 
    position: absolute;
height: 250px;
margin-left:1px;
width: 250px;
margin-top: 380px;
background-color: rgb(237, 247, 247);
}
.lll h1 {
font-size: 25px;
margin: 1px;
}
.lll p{font-size: 15px;
}
/* menu bar */
.menu2{
    padding: 4px;
    height: 100px;
    text-align: center;   
}
.menu2 h1{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
.button:hover{
    background-color: brown;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.main img{
    margin: 5px;
    flex-basis: 22%;
    flex-grow: 1;    
}
h3 button{
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 100px;
    box-shadow: 2px;
}
.footer{margin-top: 20px;
    padding: 2px;
    background-color: black;
    color: aliceblue;
    gap: 20px;
    width: 250px;
    display: block;
    text-align: center;
    margin: 20px;
}
.cav{list-style: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    margin: 20px;
   gap: 20px;
}
.q1{
    text-transform: uppercase;
    font-size: 10px;
}
.q2 img{width: 15px;
    padding-top: 10px;     
}    
} 


